@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'xlox';
    src: url('./Beldgo-Regular.otf');
}
*{
    font-family:'Open Sans'
}

.btn{
    @apply px-4 py-2 text-lg;
}

.table-item{
    @apply flex justify-between p-4 py-3;
}

.default-gradient{
    @apply bg-gradient-to-r from-green-500 via-green-500 to-teal-500;
}

.text-gradient{
    @apply default-gradient bg-clip-text text-transparent;
}

.page-item{
    @apply mb-32
}

.font-cartoon ,h1,h2,h3,h4,h5,h6{
    font-family: 'xlox';
    letter-spacing: 5px;
}

.bg-primary{
    @apply !bg-[#050C24];
}

.btn:disabled{
    @apply opacity-50;

}

